* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Home page */

#home-img {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}


#main-buttons {
text-align: center;
list-style-position: inside;
font-size: 40px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    

h1 {
color: black;
text-align: center;
font-size: 60px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
border: 5px solid black;
padding: 1px;
background-color: wheat;
margin:100px ;
display: block;

}

h2{
font-size: 50px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

li, p {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}



body {
background-color: grey;

} 

img {
display: block;
margin-left: auto;
margin-right: auto;

}

}

button {
font-size: 30px;
margin-right: auto;
margin-left: auto;
display: block;
background-color: wheat;
text-decoration: none;
color: black;

}


#button-link {
color: black;
text-decoration: black;

}
